@media only screen and (min-width: 200px) and (max-width: 576px){
	.left{
		max-width: 100%;

	}
	.right{
		max-width: 100%;
	}
	.left img{
		max-width:230px;
		min-height:250px;
		margin:auto;
		poition:absolute;
		left:-50px;
	}
	.right p{
	margin-top:30px;
	margin-left:10px;
	font-size:18px;
	font-weight:500;
}
	.signupForm{
		max-width:100px ;
	}
	.middle h2{
	font-weight: bold;
	font-size: 18px;
}
.name{
	font-weight:bold;
	font-size:15px;
	margin-left: 10px;
	text-transform: capitalize;
}
/*#signupForm{
	margin-top: 10px;
}*/
#signupForm input{
	
	border-radius:10px;
	border:none;
	
	
	background-color:#f3f3f3;
	padding:5px;
	font-size:15px;
	margin-left:0px;
}
.detail{
	margin-top:10px;

	max-width:100px;
	margin-left: 0px;

}
.detail input{
	margin-top: 10px;
	width:20%;
}
.detail-1 input{
	margin-left: 0px;
	width:15%;
}
.detail-2 input{
	margin-left: 0px;
	width:30%;
}
.detail-3 input{
	margin-left: 0px;
	width:30%;
}
.check{
	margin-top: 40px;
	padding:30px;
	width:10px;
	height:10px;

}
.Notification{
	width:%;
	font-size:8px;
	color:#7b7b7d;
	margin-left:0px;
	font-weight:500;
	text-decoration: none;
}
.site{
  	font-size:8px;
  	margin-top: 20px;
  	color:#7b7b7d;
  	font-weight: 400;
  	text-decoration: none;
  }
  form button{
 	margin-top:20px;
 	background-color: deeppink;
 	color:white;
 	text-align: center;
 	font-weight:500;
 	border:none;
 	padding:5px;
 	padding:5px 15px;
 	border-radius: 10px;
 }
 .add{
	margin-left:0px;
	margin-top:15px;
	font-size: 25px;
	font-weight: bold;
}
.better{
	margin-left:20px;
}
.circle{
	width:150px;
	height:150px;
	border-radius: 50%;
	border:1px dotted gray;
	margin-left:10px;
	margin-top:20px;
}
.fa-camera{
	margin: auto;
	text-align: center;
	align-items: center;
	margin-top: 70px;
	color:#7b7b7d;
}
.btn {
    border:1px solid gray;
    color:;
    background-color:pink;
    padding:8px 20px;
    border-radius:8px;
    font-size: 16px;
    font-weight:bold;
    margin-top:70px;
    margin-left:0px;
  }
  .add-location {
  	margin-left:10px;
  		margin-top:25px;
	font-size:23px;
	font-weight: bold;
  }
  .location{
  	margin-left:10px;
  	border:none;
  	border-bottom: 2px solid gray;
  	margin-top: 20px;
  	width:50%;
  }
  .finish-2{
	margin:auto;
	text-align: center;
	padding:5px 50px;
	background-color: deeppink;
	color:white;
	border:none;
	border-radius:10px;
	justify-content: center;
	margin-left:10px;
	margin-top:30px;
	font-weight: 500;
}
.return-2{
	margin-left:20px;
	text-align:;
	margin-top: 10px;
	font-size: 14px;
}
.f{
	border:1px solid lightgray;
	width:250px;
	border-radius: 20px;
	margin-left:0px;
	padding-bottom: 10px;

}
.img img{
	text-align: center;
	justify-content: center;
	align-items: center;
	width:150px;
	height:150px;
	margin-right:70px;
}
.f input{
	margin-left:80px;
	text-align: center;
	justify-content: center;
	width:20px;
	height:20px;
	border-radius: 50%;
	border:1px solid gray;
	margin-top: 30px;

}
 nav ul li {
    display: block; /* Change the list items to display as block elements */
    margin-bottom: 10px; /* Add spacing between each list item */
  }
 
  nav ul {
    padding: 0; /* Reset padding */
  }
  nav {
				position:absolute;
				width:100%;
				left:-120%;
				transition:2s;
				background-color:pink;
				box-shadow:box-shadow: 0px 5px 2px 0px #ccc;;
				overflow: hidden;
				z-index: 999999;
				color:black;
			}
			 nav ul {
			 	display:block;
			 	text-align: center;
			 	color:black;
			 }
	.toggle{
		display:block;
	}
	.close{
		display:block;
	}
}